/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

.boldBtStyle
{
    font-weight:bold;
}
.cmtDataGridStyle
{
	verticalGridLines: false;
	horizontalGridLineColor:"0x000000";
}
.italicBtStyle
{
    font-style:italic;
}
.underlineBtStyle
{
    text-decoration:underline;
}
global
{
    font-family: '微软雅黑','simsun','_sans';
}
mx|ToolTip
{
    backgroundColor: white;
    backgroundAlpha: 0.85;
    cornerRadius: 0;
    color: black;
    font-size:12px;
	
}
.boldStyle
{
    fontWeight:bold;
}
